body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1140px;
}

header {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    min-height: 45px;
    border: 1px solid black
}

.btn-cart {
    height: 25px;
    margin: 10px 20px;
    margin: 10px 20px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    width: 400px;
    // padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: 10px 0;
    // border: 1px solid;
    box-shadow: 1px 1px 3px 1px #b3b3b3;
    h3 {
        margin: 30px 0 10px 0;
        // margin-top: 25px;
        line-height: 0;
    }
    p {
        line-height: 0;
    }
    img {
        height: 120px;
        width: 120px;
    }
}

.buy-btn {
    border-radius: 10px;
    margin-left: 115px;
    margin: 10px 0 20px 115px;
}