body {
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.hamb {
    margin: auto;
    height: 200px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    div {
        width: 300px;
        margin: 20px auto 20px;
        background-color: #f0f0f0;
        display: flex;
        // flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 1%;
        box-shadow: 1px 1px 1px 1px #fff;
        span {
            width: 100%;
            text-align: center;
        }
        button {
            width: 85px;
            height: 50px;
        }
    }
}

.functions {
    margin: auto;
    // padding: 20px;
    width: 1600px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #4e4c4c;
    button {
        margin-left: 50px;
        width: 150px;
        height: 50px;
    }
}

.price-calories {
    margin-left: 50px;
}

.total-price,
.total-calories {
    display: flex;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    span {
        margin-left: 20px;
        font-weight: 800;
    }
}